name: ci

on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 15 }
      - run: |
          yarn
          yarn lint

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 15 }
      - name: Compile
        run: |
          yarn
          yarn hardhat compile
      - name: Run tests
        run: yarn hardhat coverage
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  gas-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 15 }
      - name: Compile
        run: |
          yarn
          yarn hardhat compile
      - name: Run tests
        run: CI=true yarn hardhat test
      - name: Generate gas usage report
        id: gas_report
        uses: santiac89/gas-report-action@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
